.circle {
    border-radius: 50px;/*圆角*/
    background: #7de3c8;
    width: 150px;
    height: 90px;
    font-size: 30px;
    border: none;/*无黑边框*/
    cursor: pointer;/*鼠标变成手型*/
}
.circle:hover{
    background: #b0eedb;
}
.circle:active{
    background: #48c7bc;
}


.circle:after{
    background:#b0eedb;
}
#id{
    border-radius: 50px;
    background: #97aaef;
    width: 150px;
    height: 90px;
    font-size: 30px;
}
#id:active{
    border-radius: 50px;
    background: #5d76d2;
    width: 150px;
    height: 90px;
    font-size: 30px;
}
